{% extends "admin/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Editer un Étudiant</h2>

    <form action="{{ url_for('admin_bp.edit_student', student_id = student.id) }}" method="POST">
        <div class="row">
            <div class="col-md-6">

                <div class="mb-3">
                    <label for="first_name" class="form-label">Prénom :</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required
                        value="{{ student.first_name }}">
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Nom :</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required
                        value="{{ student.last_name }}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3 border p-3 rounded">
                    <label class="form-label fw-bold">Classe :</label>
                    {% for class_ in classes %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="class" value="{{ class_['id'] }}" required
                                {% if class_.id == student_class_id %}checked{% endif %}>
                            <label class="form-check-label">{{ class_.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3 border p-3 rounded">
                    <label class="form-label fw-bold">Langues :</label>
                    {% for language in languages %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="languages" value="{{ language['id'] }}"
                                {% if language.id in student_subject_ids %}checked{% endif %}>
                            <label class="form-check-label">{{ language.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3 border p-3 rounded">
                    <label class="form-label fw-bold">Options :</label>
                    {% for option in options %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="options" value="{{ option['id'] }}"
                                {% if option.id in student_subject_ids %}checked{% endif %}>
                            <label class="form-check-label">{{ option.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-primary px-4">Mettre à jour</button>
            <a href="{{ url_for('admin_bp.list_students') }}" class="btn btn-secondary px-4">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
